#!/usr/bin/env bash
####################################################################
# This file lists all of the dependencies for this install
# To override this file with your own configuration, rename the
# file to `.env`, and place it in the user's root (home) directory.
####################################################################
declare -a DEPENDENCIES

declare -x USERNAME HOME_DIR HOSTNAME
declare -x NODE_IPv4 NODE_HOSTNAME GIT_USER GIT_EMAIL GPG_EMAIL GPG_KEYID SIGN_COMMITS
declare -x SYS_USER SYS_PASS SYS_PASS_HASH MY_USER MY_PASS MY_PASS_HASH

DEPENDENCIES=("apt" "gnupg" "git" "curl" "yq" "ca-certificates" "dialog")
