#!/usr/bin/env bash
# shellcheck disable=SC2034
####################################################################
# This file defines the environment variables for this install
# To override this file with your own configuration, rename the
# file to `.env`, and place it in the user's root (home) directory.
####################################################################
declare -a SEARCH_CFG IMPORTS
declare -x ALIASES APPS ASSETS COMPLETIONS DIALOG_DIR FUNCTIONS PLUGINS
declare -x PROMPTS SHELL TEMP TEMPLATES
declare -x DOTFILES DOT_BIN DOT_CFG DOT_LIB

DOTFILES="$HOME/.dotfiles"

DOT_BIN="$DOTFILES/bin"
DOT_CFG="$DOTFILES/cfg"
DOT_LIB="$DOTFILES/lib"

ALIASES="$DOT_LIB/aliases"
APPS="$DOT_LIB/apps"
ASSETS="$DOT_LIB/assets"
COMPLETIONS="$DOT_LIB/completions"
DIALOG_DIR="$DOT_LIB/dialog"
FUNC_DIR="$DOT_LIB/functions"
PLUGINS="$DOT_LIB/plugins"
PROMPTS="$DOT_LIB/prompts"
TEMPLATES="$DOT_LIB/tmpl"

TEMP="$(mktemp -d)"

SEARCH_CFG=("$HOME" "$HOME/.github" "$HOME/.github/.dotfiles" "$DOTFILES" "$DOT_CFG" "$DOTFILES/.github")

[[ $PATH != ?(*:)$DOT_BIN?(:*) ]] && PATH="$DOT_BIN:$PATH"
