#!/usr/bin/env bash
# shellcheck disable=SC2034
####################################################################
# This file defines the environment variables for this install
# To override this file with your own configuration, rename the
# file to `.env`, and place it in the user's root (home) directory.
####################################################################
declare -a SEARCH_DIRS IMPORTS

declare -x USERNAME HOME_DIR HOSTNAME
declare -x NODE_IPv4 NODE_HOSTNAME GIT_USER GIT_EMAIL GPG_EMAIL GPG_KEYID SIGN_COMMITS
declare -x SYS_USER SYS_PASS SYS_PASS_HASH MY_USER MY_PASS MY_PASS_HASH
declare -x DOTFILES BIN_DIR CFG_DIR LIB_DIR
declare -x ALIASES APPS ASSETS COMPLETIONS DIALOG_DIR FUNCTIONS PLUGINS PROMPTS SHELL TEMP TEMPLATES

DOTFILES="$HOME/.dotfiles"
BIN_DIR="$DOTFILES/bin"
CFG_DIR="$DOTFILES/cfg"
LIB_DIR="$DOTFILES/lib"

ALIASES="$LIB_DIR/aliases"
APPS="$LIB_DIR/apps"
ASSETS="$LIB_DIR/assets"
COMPLETIONS="$LIB_DIR/completions"
DIALOG_DIR="$LIB_DIR/dialog"
FUNC_DIR="$LIB_DIR/functions"
PLUGINS="$LIB_DIR/plugins"
PROMPTS="$LIB_DIR/prompts"
TEMPLATES="$LIB_DIR/tmpl"

TEMP="$(mktemp -d)"

DEPENDENCIES=("apt" "gnupg" "git" "curl" "yq" "ca-certificates" "dialog")

SEARCH_DIRS=("$HOME" "$DOTFILES" "$CFG_DIR" "$DOTFILES/.github")
