# shellcheck shell=bash
# shellcheck disable=SC2034
####################################################################
# This file defines the environment variables for this install
# To override this file with your own configuration, rename the
# file to `.node`, and place it in the user's root (home) directory.
####################################################################

NODE_IPv4="${NODE_IPv4}"
NODE_HOSTNAME="${NODE_HOSTNAME}"
GIT_USER="${GIT_USER}"
GIT_EMAIL="${GIT_EMAIL}"
GPG_KEYID="${GIIT_KEYID}"
