
extends: .releaserc.base
name: {{REPO_NAME}}
description: {{REPO_DESC}}
version: {{VERSION}}
# copyright:
# website:
repo_url: {{REPO_URL}}
authors:
    - username: {{OWNER_USER}}
      first_name: {{OWNER_NAME}}
      surname: {{OWNER_SURNAME}}
      email: {{OWNER_EMAIL}}
      location: {{OWNER_LOCATION}}
      affiliation: {{OWNER_COMPANY}}
#      blog:
#      twitter:
# git_user:
#    name:
#    email:
# branch:
#     prod:
#     stage:
#     patch:
#     release:
standard:
   config: .releaserc.types.conventional
# commit_types:
# commit_scopes:
# logged_types:
# logged_scopes:
