
extends: .releaserc.base
name: Ragdata's Dotfiles
description: The dotfiles I use to manage my environment across multiple machines - and the means to manage the process.
version: v0.1.0
# copyright:
# website:
repo_url: https://github.com/Ragdata/.dotfiles
authors:
    - username: Ragdata
      first_name: Darren
      surname: Poulton
      email: ragdata@users.noreply.github.com
      location: Brisbane, Australia
      affiliation: Redeyed Technologies
#      blog:
#      twitter:
# git_user:
#    name:
#    email:
# branch:
#     prod:
#     stage:
#     patch:
#     release:
standard:
   config: .releaserc.types.conventional
# commit_types:
# commit_scopes:
# logged_types:
# logged_scopes:
